$aside_width: 320px;

#layout {
    @apply flex justify-end flex-wrap;

    > header {
        @apply sticky xl:hidden w-full h-12 top-0 left-0 right-0 py-2 px-3 z-50;
        background: $primary-color;
        color: $secondary_text_color;

        div {
            @apply flex justify-between w-full h-full;

            img {
                height: 100%;
                width: auto;
            }

            .menu-icon {
                @apply w-auto inline-block cursor-pointer;

                .bar-1, .bar-2, .bar-3 {
                    width: 28px;
                    height: 4px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    background-color: $secondary_text_color;
                    margin: 6px 0;
                    transition: 0.4s;
}
            }
        }
    }

    aside {
        @apply hidden xl:block z-50;
        width: $aside_width;
        min-height: 100vh;

        div {
            @apply fixed top-10 xl:top-0 bottom-0 left-0 right-0 py-5 xl:py-20;
            width: $aside_width;
            background: $primary-color;
            color: $secondary_text_color;

            header {
                @apply px-14;

                img {
                    @apply hidden xl:block;
                    width: 75%;
                    height: auto;
                }

                h3 {
                    @apply mt-5 xl:mt-16 pb-8 mb-8;
                    border-bottom: 1px solid $lighten_color;
                }
            }

            nav {
                li {
                    @apply px-14 py-2 relative;


                    a {
                        font-family: sans-semibold;
                    }

                    &:after {
                        @apply absolute block left-0 top-0 bottom-0 my-auto;
                        content: '';
                        width: 2px;
                        height: 0%;
                        background: lighten($secondary_text_color, 100%);
                        transition: .2s height ease-in;
                        -webkit-transition: .2s height ease-in;
                        -moz-transition: .2s height ease-in;
                        -ms-transition: .2s height ease-in;
                        -o-transition: .2s height ease-in;
                    }
                }

                li:hover {
                    a {
                        color: lighten($secondary_text_color, 100%);
                    }

                    &:after {
                        height: 100%;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        aside, aside div {
            @apply w-full block fixed top-10;
            left: -100% !important;
            transition: .4s all ease-in-out;
            -webkit-transition: .4s all ease-in-out;
            -moz-transition: .4s all ease-in-out;
            -ms-transition: .4s all ease-in-out;
            -o-transition: .4s all ease-in-out;
        }

        .aside-for-mobile, .aside-for-mobile div {
            @apply left-0 #{!important};
        }
    }

    @media (max-width: 1024px) and (min-width: 569px) {
        aside h3 {
            @apply text-3xl
        }

        aside li {
            @apply text-2xl py-4 #{!important};
        }
    }

    @media (max-width: 568px) {
        aside h3 {
            @apply text-xl
        }

        aside li {
            @apply text-lg py-2 #{!important};
        }
    }

    section {
        @apply flex-grow px-3 lg:px-2 xl:px-48 2xl:px-56 py-8 lg:py-24;
    }
}