button {
    @apply text-sm px-3;
    border: 3px solid $primary-color;
    color: $primary-color;
    font-family: sans-bold;
    transition: .3s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;

    &:hover {
        background: $primary-color;
        color: $secondary_text_color;
    }
}

.btn-secondary {
    background: lighten($primary-color, 5%);
    border: 3px solid lighten($primary-color, 5%);
    color: $secondary_text_color;

    &:hover {
        background: $primary-color;
        border: 3px solid $primary-color;
    }
}

