button {
    @apply text-sm font-bold px-3;
    border: 3px solid $primary-color;
    color: $primary-color;
    transition: .3s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;

    &:hover {
        background: $primary-color;
        color: $secondary_text_color;
    }
}

