.img-grid {
    @apply grid grid-cols-1 md:grid-cols-5 gap-4;
  
    .img-wrapper {
      @apply relative overflow-hidden;
  
      .img-mask {
        @apply absolute w-full h-full bg-gray-800 transition duration-300 ease-in-out opacity-0 z-10;
      }
  
      img {
        @apply w-full h-auto transition duration-300 ease-in-out transform;
      }
  
      .img-link {
        @apply absolute top-0 left-0 right-0 bottom-0 z-20 mx-auto;
  
        .img-title-wrapper {
          @apply h-full flex items-center justify-center;
  
          h4 {
            @apply text-sm xl:text-xl text-white transition duration-500 opacity-0;
          }
        }
      }
  
      &:hover {
  
        .img-mask {
          @apply opacity-40;
        }
  
        img {
          @apply scale-125;
        }
  
        .img-link {
          h4 {
            @apply opacity-100;
          }
        }
      }
    }
  }

.show-more-grid {
  @apply relative h-11 md:h-auto border-gray-800 md:border-0 transition duration-300 bg-gray-50 hover:bg-gray-900 my-3 md:my-0 px-0;
  
  &:hover {
    
    p {
      color: white;
    }

    img {
      @apply opacity-50 #{!important};
    }
  }

  img {
    @apply hidden xl:block w-full h-auto transition duration-500 opacity-5 z-0;
  }

  .title-wrapper {
    @apply absolute transition duration-500 flex items-center justify-center top-0 bottom-0 left-0 right-0 md:px-8;

    p {
      @apply text-xs lg:text-xl xl:text-2xl text-center;
      font-family: sans-bold;
    }

    .after-hover {
      @apply hidden;
    }

    &:hover {
      .before-hover {
        @apply hidden;
      }
      .after-hover {
        @apply block;
      }
    }
  }
}

@media (max-width: 548px) {
  .show-more-grid {
    border-width: 3px;
  }
}